.input-alert {
    box-shadow: 0px 0px 5px rgb(255, 51, 0);
}

.bi-search {
    display: inline-block !important;
    position: relative;
}

#login-form {
    margin: 0 auto;
}

#login-form .btn-primary {
    margin-top: 20px;
}

#login,
#password {
    position: relative;
}

.help-block {
    font-size: 12px;
    color: #FF0000;
    position: absolute;
}

/* .menu-wrapper {
    margin: 0 auto;
} */

/* .content-wrapper {

}

.left-menu,
.content-block {

} */

/* .left-menu {
    width: 30%;
}

.content-block {
    width: 65%;
} */

/* .left-menu {
    border-right: 20px solid #f5f5f5;
} */

/* .left-menu::after {
    padding: 20px;
} */

/* .list-item:hover {
    cursor: pointer;
} */

/* .nav-list .dropdown a:hover {
    cursor: ;
    text-decoration: none;
} */

.nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-list .list-item a,
.nav-list .pages-dropdown a {
    color: #000000;
}

.list-item,
.pages-dropdown {
    padding: 5px;
}

.container-wrapper {
    padding: 30px;
    padding-top: 0;
}

.list-item--active a {
    text-decoration: underline;
    text-decoration-color: #007bff;
}

/* .customs-table {
    margin-top: 100px;
} */

.customs-head,
.custom-item,
.statistics_item {
    text-align: center;
    font-size: 12px;
    background: #ffffff;
    border: 5px solid #efefef;
    /* width: 50px; */
    /* width: 10%; */
    /* padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%; */
    /* border-left: 1px solid red; */
}

.custom-param,
.search-param {
    border-right: 2px solid #efefef;
}

.search-param {
    padding: 10px;
}

.custom-item:hover {
    color: #007bff;
    background-color: #efefef;
    cursor: pointer;
}

.custom-item:hover .edit {
    color: #212529;
    background-color: #ffffff;
    /* cursor: pointer; */
}

.custom-item .edit:hover {
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
}

.pagination-list .pagination-item {
    display: inline-block;
}

.pagination-item a {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 27px;
    text-align: center;
    border: 1px solid #363636;
    vertical-align: middle;
    color: #363636;
}

.pagination-item.mark {
    background-color: transparent;
}

.pagination-item a:hover {
    text-decoration: none;
    background-color: #007bff;
    color: #ffffff;
}

.pagination-item.pagination-item--active a {
    background-color: #007bff;
    color: #ffffff;
}

.pagination-item.mark a {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.pagination-item.mark a {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.pagination-item.mark:first-child a {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.pagination-item.mark a {
    width: 10px;
    height: 10px;
    vertical-align: middle;
}

.pagination-item.mark:hover a {
    background-color: transparent;
    border-color: #007bff;
}

.custom-edit,
.custom-view {
    position: fixed;
    background-color: #ffffff;
    width: 70%;
    /* height: 100%; */
    height: 800px;
    top: 3%;
    left: 50%;
    margin-left: -35%;
    padding: 20px;
    box-shadow: 4px 4px 4px rgb(109, 106, 104);
    display: none;
    z-index: 10;
}

.form-header {
    display: flex;
    justify-content: space-between
}

.custom-edit .close-btn,
.custom-view .close-btn {
    font-size: 24px;
    cursor: pointer;
}

.custom-edit .close-btn:hover,
.custom-view .close-btn:hover {
    color: #007bff;
}

/* #custom-edit {
    display: flex;
} */

#custom-edit .form-group,
#custom-view .form-group,
#page-edit .form-group {
    width: 40%;
    display: inline-block;
}

#custom-edit .form-group:nth-child(2n),
#custom-view .form-group:nth-child(2n),
#page-edit .form-group:nth-child(2n) {
    margin-right: 10%;
}

#page-edit .form-group:nth-child(7),
#page-edit .form-group:last-child {
    width: 90%;
    display: block;
    margin-bottom: 30px;
}

#custom-edit .accept-button,
#custom-edit .cancel-button,
#custom-view .cancel-button,
#page-edit .accept-button,
#page-edit .cancel-button {
    margin: 0;
    padding: 0;
    padding: 3px 10px;
    margin-top: 10px;
    margin-right: 20px;
    border-color: #007bff;
    border-radius: 5px;
    /* width: 70%;
    text-align: right; */
}

#custom-edit .accept-button,
#page-edit .accept-button {
    background-color: #007bff;
    color: #ffffff;
}

#custom-edit .cancel-button,
#custom-view .cancel-button,
#page-edit .cancel-button {
    background-color: #ffffff;
    color: #007bff;
}

.customs-menu {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: 165px;
    padding: 10px;
    padding-left: 20px;
}

.pagination-list {
    padding: 0;
    position: relative;
    top: 30px;
    padding: 10px;
}

.edit-buttons .all-customs-button,
.edit-buttons .add-new-custom-button {
    border-color: #007bff;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    /* right: 100px; */
    /* margin-right: 25px; */
}

.customs-menu-fixed {
    top: 0;
    position: fixed;
}

.pagination-list-fixed {
    position: fixed;
    top: 25px;
}

.edit-buttons {
    position: absolute;
    top: 75px;
    margin-left: 450px;
}

.edit-buttons-fixed {
    position: fixed;
    top: 30px;
}

.custom-search {
    position: absolute;
    top: 120px;
    margin-left: 450px;
    margin: 0;
    padding: 0;
    margin-left: 20px;
}

.custom-search-fixed {
    position: fixed;
    top: 75px;
}

#custom-search .form-group.field-customsearchform-code,
#custom-search .form-group.field-customsearchform-namt {
    margin: 0;
    margin-right: 20px;
    padding: 0;
    width: 400px;
    display: inline-block;
}

.custom-search-button {
    position: absolute;
    top: 30px;
    right: -100px;
    border-color: #007bff;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    padding: 5px;
    width: 100px;
}

.list-item--active {
    text-decoration: underline;
}

/* .cusom-search {

}



/* #custom-edit {
    position: absolute;
    top: 120px;
    margin-left: 450px;
    margin: 0;
    padding: 0;
    margin-left: 20px;
}

.custom-edit-fixed {
    position: fixed;
    top: 30px;
}

*/



.user-item {
    padding: 0.5rem 1rem;
    color: #ffffff;
}

/* .fixed {
    position: fixed;
    top: 0px;
} */

/* .relative {
    position: relative;
    top: -40px;
} */

/* .customs-edit-group {
    position: relative;
    z-index: 10;
    top: 0px;
    width: 100%;
    height: 75px;
    background-color: #ffffff;
    box-shadow: 4px 4px 4px rgb(109, 106, 104);
    display: none;
}  */

/* .title-list {
    /* top: 10px; */
/* width: 100%;
    height: 80px;
    background-color: #ffffff;
} */

/* .pagination-list {
    top: 25px;
} */




/* .pagination-list {
    padding: 0;
} */

/* .customs-edit-group {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    box-shadow: 4px 4px 4px rgb(109, 106, 104);

  } */

/* .customs-edit-group .all-customs-button,
.customs-edit-group .add-new-custom-button {
    margin-left: 30px;
    background-color: #007bff;
    color: #ffffff;
    border-color: #007bff;
    border-radius: 5px;
}  */

/* .edit-buttons {
    position: relative;
    top: 30px;
    left: 800px;
} */

/* .pagination-list {
 
    position: relative;
} */

/* .customs-edit-group {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgb(109, 106, 104);
} */

/* 

.customs-edit-group .all-customs-button {
    left: 60%;
}

.customs-edit-group .add-new-custom-button {
    left: 35%;
} */

/* .list-view,
.pagination-list {
    position: fixed;
}

.list-view {
    top: 9%;
    left: 20%;
}

.pagination-list {
    top: 12%;
    left: 20%;

} */


/* .custom-edit {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: 1;
    display: none;

} */

/* .body-wrapper {
    background-color: red;
    z-index: 11;
    position: relative;

}

.wrapper {
    z-index: 4;
    position: relative;
} */

/* #custom-edit h3,
#custom-edit .close-btn {
    display: inline-block;
    vertical-align: middle;
} */

/* 
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
} */

/* .pagination-item mark {} */

/* .custom-param {


    /* box-shadow: 4px 4px 4px rgb(109, 106, 104); */

/* .custom-item .id {
    width: 40px;
    background-color: red;
}

.custom-item .code {
    width: 80px;
    background-color: red;
}

.custom-item .namt {
    width: 220px;
    background-color: red;
    overflow: hidden;
}

.custom-item .okpo {
    width: 120px;
    background-color: red;
}

.custom-item .ogrn {
    width: 120px;
    background-color: red;
}

.custom-item .inn {
    width: 120px;
    background-color: red;
}

.custom-item .name_all {
    width: 220px;
    background-color: red;
    overflow: hidden;
}

.custom-item .adrtam {
    width: 80px;
    background-color: red;
}

.custom-item .prosf {
    width: 80px;
    background-color: red;
}

.custom-item .telefon {
    width: 80px;
    background-color: red;
}

.custom-item .fax {
    width: 80px;
    background-color: red;
}

.custom-item .email {
    width: 80px;
    background-color: red;
}

.custom-item .coords_latitude {
    width: 80px;
    background-color: red;
}

.custom-item .coords_longitude {
    width: 80px;
    background-color: red;
} */



/* .list-item--active a:hover {
    text-decoration: none;
    text-decoration-style: dotted;
    text-decoration-color: #007bff;
    border-bottom: 1px solid #007bff;
} */


/**
 * Icon
 */

/* .help-block {
    position: absolute;
    background-color: #ffffff;
    font-size: 10px;
    margin: 0;
    padding: 0;
} */

/* .has-error {
    width: 50px;
    height: 50px;
    background-color: red;
} */

/* End */

/* .search-label {
    margin-bottom: 0;
} */

/* .ui-state-active, 
.ui-widget-content .ui-state-active {
    border: none !important;
    background: #e9e9e9 !important;
    font-weight: normal !important;
    color: #000 !important;
    text-decoration: none !important;
} */

/* #ui-id-1 .ui-menu-item:nth-child(2n) {
    background:#e9e9e9;
} */

/* .ui-menu-item .ui-menu-item-wrapper:hover, */

/* .ui-menu-item-wrapper:hover, */



/* 
    left: 12px; */

/* margin-left: -12px !important; */


/* .ui-menu-item:hover {
    border: none !important;
    background: #e9e9e9 !important;
    font-weight: normal !important;
    color: #000 !important;
    text-decoration: none !important;
    margin-left: -12px !important;
} */



/* #ui-id-1 {
    width: inherit !important;
} */
/* 
#ui-id-1 li {
    font-size: 14px;
    width: 50px;

} */


/* .form-control:focus {
    color: red;
    background-color: red;
    border-color: red;
    outline: 0;
    box-shadow: none;
} */

/* .ui-menu-item:hover,
.ui-menu-item:hover a:hover {
    background-color: #6c757d;
} */