main>.container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer>.container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li>form>button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li>form>button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav>li>form>button.logout:focus,
.nav>li>form>button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav>li>form>button.logout:focus {
    outline: none;
}

/* Start */

.customs-label {
    font-size: 14px;
}

#map>ymaps {
    border-radius: 5px;
    overflow: hidden;
    /* box-shadow: 4px 4px 4px rgb(109, 106, 104); */

}

/* #map {
} */
/* custom styles */

body {
    background: #efefef;
}

.wrapper {
    background: #ffffff;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    /* box-shadow: 4px 4px 4px rgb(109, 106, 104); */

}

.search-label,
.map-label {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.filter-label {
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: normal;
    text-transform: none;
}

.filter-btn.btn,
.search-btn {
    font-size: 12px;
    border-radius: 15px;
}

.filter-btn {
    border: 1px solid #000000;
    border-radius: 15px;
    text-transform: none;
    box-shadow: 4px 4px 4px rgb(109, 106, 104);
    margin-right: 10px;
    /* padding: 9px 15px; */
}

.filter-btn.head {
    border-color: #FF0000;
    color: #FF0000;
}

/* .filter-btn:hover {
    box-shadow: -4px 4px 4px rgb(109, 106, 104);
} */

.filter-btn.excise {
    border-color: #0000FF;
    color: #0000FF;
}

.filter-btn.others {
    border-color: #E8B000;
    color: #E8B000;
}

.filter-btn.captions {
    border-color: #363636;
    color: #363636;
}

.head.btn-outline-primary:not(:disabled):not(.disabled):active,
.head.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.head.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #FF0000;
    border-color: #FF0000;
}

.excise.btn-outline-primary:not(:disabled):not(.disabled):active,
.excise.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.excise.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #0000FF;
    border-color: #0000FF;
}

.others.btn-outline-primary:not(:disabled):not(.disabled):active,
.others.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.others.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #E8B000;
    border-color: #E8B000;
}

.captions.btn-outline-primary:not(:disabled):not(.disabled):active,
.captions.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.captions.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #363636;
    border-color: #363636;
}


.filter-btn.btn-outline-primary.focus {
    box-shadow: none;
}

/* .filter-btn.btn-outline-primary:hover {
    background: transparent;
} */

.filter-btn.head:hover,
.filter-btn.excise:hover,
.filter-btn.others:hover,
.filter-btn.captions:hover {
    opacity: 0.6;
    color: #ffffff;
}

.filter-btn.head:hover {
    background-color: #FF0000;
}

.filter-btn.excise:hover {
    background-color: #0000FF;
}

.filter-btn.others:hover {
    background-color: #E8B000;
}

.filter-btn.captions:hover {
    background-color: #363636;
}

.icon {
    position: relative;
    overflow: hidden;
}

/**
   * The "shine" element
   */

.icon:after {
    content: "";
    height: 200%;
    left: -230%;
    opacity: 0;
    position: absolute;
    top: -20%;
    transform: rotate(-30deg);
    width: 500%;

    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0.13) 0%,
            rgba(255, 255, 255, 0.13) 77%,
            rgba(255, 255, 255, 0.5) 92%,
            rgba(255, 255, 255, 0.0) 100%
            /* rgba(215, 216, 219, 0.13) 0%,
      rgba(2, 0, 97, 0.13) 77%,
      rgba(141, 1, 1, 0.5) 92%,
      rgba(158, 1, 1, 0) 100% */
        );
}

/* Hover state - trigger effect */

.icon:hover:after {
    left: -50%;
    opacity: 1;
    top: -50%;
    transition-duration: 1.5s, 0.7s, 0.15s;
    /* transition-duration: 0.7s, 0.7s, 0.15s; */
    transition-property: left, top, opacity;
    transition-timing-function: ease;
}

/* Active state */

.icon:active:after {
    opacity: 0;
}

#map {
    position: relative;
    z-index: 10;
    min-height: 568px;
}

.zoom-out {
    position: absolute;
    top: 60px;
    left: 20px;
    z-index: 20;
    border-radius: 5px;
}

.zoom-out.btn-light:not(:disabled):not(.disabled):active,
.zoom-out.btn-light:not(:disabled):not(.disabled).active,
.show>.zoom-out.btn-light.dropdown-toggle {
    color: #fff;
    background-color: #ffffff;
    border-color: none;
}

.zoom-out.btn-light.focus,
.zoom-out.btn-light:hover,
.zoom-out.btn-light:focus:not(:focus-visible) {
    box-shadow: none;
    background-color: #ffffff;
}

.add-block {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
}


@media screen and (max-width:800px) {
    .add-block {
        margin: 0;
        padding: 0;
    }

    .filter-label {
        font-size: 14px;
        margin-bottom: 5px;
        font-weight: normal;
        text-transform: none;
        text-align: center;
    }

    /* .filter-btn.btn-outline-primary.focus,
    .filter-btn.btn-outline-primary:hover {
        text-decoration: none;
    } */

    .btn-group-toggle {
        text-align: center;
    }

    .filter-btn {
        padding: 0;
        padding: 6px 2px;
        width: 23%;
        text-align: center;
        font-size: 10px;
        margin: 0;
        /* margin-right: 10px; */
    }

    .filter-btn:last-child span {
        display: none;
    }

    .filter-btn:last-child::before {
        content: 'Подписи';
    }

    .filter-btn i {
        display: none;
    }

    #map {
        min-height: 300px
    }
}

.search-btn {
    position: absolute;
    bottom: 0px;
    right: 15px;
    padding: 9px 15px;
    box-shadow: 4px 4px 4px rgb(109, 106, 104);
}

/* .search-btn:hover {
    box-shadow: -5px 8px 8px rgb(109, 106, 104);
} */

.search-mark {
    color: green !important;
}

.search-btn-title {
    margin-left: 10px;
    /* margin-right: 10px; */
}

.ui-autocomplete-input {
    border-radius: 15px;
    padding-right: 125px;
    /* box-shadow: 4px 4px 4px rgb(109, 106, 104); */
}

.input-shadow {
    box-shadow: 4px 4px 4px rgb(109, 106, 104);
}

/* .ui-autocomplete-input:hover {
    box-shadow: -5px 8px 8px rgb(109, 106, 104);
} */

.clear-btn {
    position: absolute;
    bottom: -5px;
    right: 110px;
    padding: 10px;
    display: none;
}

.clear-btn:hover {
    cursor: pointer;
}

/* .ui-menu.ui-autocomplete {
    margin-top: 5px;
}*/

#ui-id-1 {
    margin-top: 5px;
    border-radius: 15px;
    /* border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; */
}

.ui-menu-item,
.no-results-item {
    font-size: 16px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ced4da;
}

.ui-menu-item:first-child,
.no-results-item {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.ui-menu-item:last-child,
.no-results-item {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


.ui-menu-item:first-child:hover,
.no-results-item:hover {
    box-shadow: 4px 4px 4px rgb(160, 160, 160);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.ui-menu-item:last-child:hover,
.no-results-item:hover {
    box-shadow: 4px 4px 4px rgb(160, 160, 160);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


/* box-shadow: 4px 4px 4px rgb(160, 160, 160); */

.ui-menu-item:hover,
.no-results-item:hover {
    border: none !important;
    background: #e9e9e9 !important;
    font-weight: normal !important;
    color: #000 !important;
    text-decoration: none !important;
    box-shadow: 4px 4px 4px rgb(160, 160, 160);
}

.ui-menu-item-wrapper {
    margin-left: -5px;
    left: 12px;
}

.ui-state-active,
.ui-widget-content .ui-state-active {
    border: none !important;
    background: #e9e9e9 !important;
    font-weight: normal !important;
    color: #000 !important;
    text-decoration: none !important;
}

.input-alert {
    box-shadow: 0px 0px 5px rgb(255, 51, 0);
}

.bi-search {
    display: inline-block !important;
    position: relative;
}

#login-form {
    margin: 0 auto;
}

#login-form .btn-primary {
    margin-top: 20px;
}

#login,
#password {
    position: relative;
}

.help-block {
    font-size: 12px;
    color: #FF0000;
    position: absolute;
}

/* .menu-wrapper {
    margin: 0 auto;
} */

/* .content-wrapper {

}

.left-menu,
.content-block {

} */

/* .left-menu {
    width: 30%;
}

.content-block {
    width: 65%;
} */

/* .left-menu {
    border-right: 20px solid #f5f5f5;
} */

/* .left-menu::after {
    padding: 20px;
} */

/* .list-item:hover {
    cursor: pointer;
} */

/* .nav-list .dropdown a:hover {
    cursor: ;
    text-decoration: none;
} */

.nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-list .list-item a,
.nav-list .pages-dropdown a {
    color: #000000;
}

.list-item,
.pages-dropdown {
    padding: 5px;
}

.container-wrapper {
    padding: 30px;
    padding-top: 0;
}

.list-item--active a {
    text-decoration: underline;
    text-decoration-color: #007bff;
}

/* .customs-table {
    margin-top: 100px;
} */

.customs-head,
.custom-item {
    text-align: center;
    font-size: 12px;
    background: #ffffff;
    border: 5px solid #efefef;
    /* width: 50px; */
    /* width: 10%; */
    /* padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%; */
    /* border-left: 1px solid red; */
}

.custom-param {
    border-right: 2px solid #efefef;
}

.custom-item:hover {
    color: #007bff;
    background-color: #efefef;
    cursor: pointer;
}

.custom-item:hover .edit {
    color: #212529;
    background-color: #ffffff;
    /* cursor: pointer; */
}

.custom-item .edit:hover {
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
}

.pagination-list .pagination-item {
    display: inline-block;
}

.pagination-item a {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 27px;
    text-align: center;
    border: 1px solid #363636;
    vertical-align: middle;
    color: #363636;
}

.pagination-item.mark {
    background-color: transparent;
}

.pagination-item a:hover {
    text-decoration: none;
    background-color: #007bff;
    color: #ffffff;
}

.pagination-item.pagination-item--active a {
    background-color: #007bff;
    color: #ffffff;
}

.pagination-item.mark a {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.pagination-item.mark a {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.pagination-item.mark:first-child a {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.pagination-item.mark a {
    width: 10px;
    height: 10px;
    vertical-align: middle;
}

.pagination-item.mark:hover a {
    background-color: transparent;
    border-color: #007bff;
}

.custom-edit,
.custom-view {
    position: absolute;
    background-color: #ffffff;
    width: 70%;
    /* height: 100%; */
    height: 750px;
    top: 3%;
    left: 50%;
    margin-left: -35%;
    padding: 20px;
    box-shadow: 4px 4px 4px rgb(109, 106, 104);
    display: none;
    z-index: 10;
    /* overflow-y: scroll; */
}

.form-header {
    display: flex;
    justify-content: space-between
}

.custom-edit .close-btn,
.custom-view .close-btn {
    font-size: 24px;
    cursor: pointer;
}

.custom-edit .close-btn:hover,
.custom-view .close-btn:hover {
    color: #007bff;
}

/* #custom-edit {
    display: flex;
} */

#custom-edit .form-group,
#custom-view .form-group,
#page-edit .form-group {
    width: 40%;
    display: inline-block;
}

#custom-edit .form-group:nth-child(2n),
#custom-view .form-group:nth-child(2n),
#page-edit .form-group:nth-child(2n) {
    margin-right: 10%;
}

#page-edit .form-group:nth-child(7),
#page-edit .form-group:last-child {
    width: 90%;
    display: block;
    margin-bottom: 30px;
}

#custom-edit .accept-button,
#custom-edit .cancel-button,
#custom-view .cancel-button,
#page-edit .accept-button,
#page-edit .cancel-button {
    margin: 0;
    padding: 0;
    padding: 3px 10px;
    margin-top: 10px;
    margin-right: 20px;
    border-color: #007bff;
    border-radius: 5px;
    /* width: 70%;
    text-align: right; */
}

#custom-edit .accept-button,
#page-edit .accept-button {
    background-color: #007bff;
    color: #ffffff;
}

#custom-edit .cancel-button,
#custom-view .cancel-button,
#page-edit .cancel-button {
    background-color: #ffffff;
    color: #007bff;
}

.pagination-list {
    padding: 0;
}

/* .customs-edit-group {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgb(109, 106, 104);
} */

/* .customs-edit-group .all-customs-button,
.customs-edit-group .add-new-custom-button {
    position: relative;
    top: 25%;
}

.customs-edit-group .all-customs-button {
    left: 60%;
}

.customs-edit-group .add-new-custom-button {
    left: 35%;
} */

/* .list-view,
.pagination-list {
    position: fixed;
}

.list-view {
    top: 9%;
    left: 20%;
}

.pagination-list {
    top: 12%;
    left: 20%;

} */


/* .custom-edit {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: 1;
    display: none;

} */

/* .body-wrapper {
    background-color: red;
    z-index: 11;
    position: relative;

}

.wrapper {
    z-index: 4;
    position: relative;
} */

/* #custom-edit h3,
#custom-edit .close-btn {
    display: inline-block;
    vertical-align: middle;
} */





/* 
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
} */

/* .pagination-item mark {} */

/* .custom-param {


    /* box-shadow: 4px 4px 4px rgb(109, 106, 104); */




/* .custom-item .id {
    width: 40px;
    background-color: red;
}

.custom-item .code {
    width: 80px;
    background-color: red;
}

.custom-item .namt {
    width: 220px;
    background-color: red;
    overflow: hidden;
}

.custom-item .okpo {
    width: 120px;
    background-color: red;
}

.custom-item .ogrn {
    width: 120px;
    background-color: red;
}

.custom-item .inn {
    width: 120px;
    background-color: red;
}

.custom-item .name_all {
    width: 220px;
    background-color: red;
    overflow: hidden;
}

.custom-item .adrtam {
    width: 80px;
    background-color: red;
}

.custom-item .prosf {
    width: 80px;
    background-color: red;
}

.custom-item .telefon {
    width: 80px;
    background-color: red;
}

.custom-item .fax {
    width: 80px;
    background-color: red;
}

.custom-item .email {
    width: 80px;
    background-color: red;
}

.custom-item .coords_latitude {
    width: 80px;
    background-color: red;
}

.custom-item .coords_longitude {
    width: 80px;
    background-color: red;
} */



/* .list-item--active a:hover {
    text-decoration: none;
    text-decoration-style: dotted;
    text-decoration-color: #007bff;
    border-bottom: 1px solid #007bff;
} */


/**
 * Icon
 */







/* .help-block {
    position: absolute;
    background-color: #ffffff;
    font-size: 10px;
    margin: 0;
    padding: 0;
} */

/* .has-error {
    width: 50px;
    height: 50px;
    background-color: red;
} */

/* End */

/* .search-label {
    margin-bottom: 0;
} */

/* .ui-state-active, 
.ui-widget-content .ui-state-active {
    border: none !important;
    background: #e9e9e9 !important;
    font-weight: normal !important;
    color: #000 !important;
    text-decoration: none !important;
} */

/* #ui-id-1 .ui-menu-item:nth-child(2n) {
    background:#e9e9e9;
} */

/* .ui-menu-item .ui-menu-item-wrapper:hover, */

/* .ui-menu-item-wrapper:hover, */



/* 
    left: 12px; */

/* margin-left: -12px !important; */


/* .ui-menu-item:hover {
    border: none !important;
    background: #e9e9e9 !important;
    font-weight: normal !important;
    color: #000 !important;
    text-decoration: none !important;
    margin-left: -12px !important;
} */



/* #ui-id-1 {
    width: inherit !important;
} */
/* 
#ui-id-1 li {
    font-size: 14px;
    width: 50px;

} */


/* .form-control:focus {
    color: red;
    background-color: red;
    border-color: red;
    outline: 0;
    box-shadow: none;
} */

/* .ui-menu-item:hover,
.ui-menu-item:hover a:hover {
    background-color: #6c757d;
} */